{% extends "fifarank.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <a href="{% url 'fifarank:team_list' %}">Powrót</a>
        <br /><br />
        <h1>Dodaj nowe spotkanie</h1>
        <hr />
        <style>
            select {
                width: 25%
            }
        </style>
        {{ form.media.css }}
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {{ form.media.js }}
        <script>
            $(".select2").select2({
                minimumInputLength: 1,
                language: {
                    inputTooShort: function () {
                        return 'Please Add More Text';
                    }
                }
            });
        </script>
    </div>
</div>
{% endblock %}