{% extends "fifarank.html" %}

{% block content %}
<div class="card" style="margin-bottom: 1rem;">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h1>Ostatnie spotkania</h1>
                </div>
                <div class="col-6" style="text-align: right; margin-top: auto;">
                    <a href="{% url 'fifarank:match_add' %}">
                        <h5 style="color: black;">Dodaj</h5>
                    </a>
                </div>
            </div>
            <br />
            {% include "components/matchList.html" with matches=matches show_paginator=True%}
        </div>
    </div>
</div>
{% endblock %}