{% extends "beers.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h1>Panel piwkodawcy</h1>
                </div>
                <div class="col-6" style="text-align: right; margin-top: auto;">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="list-group list-group-flush">
                        <hr />
                        {% if beers|length == 0 %}
                        <div>
                            <p style="text-align: center; color: gray;">Brak pożyczonych piwek</p>
                        </div>
                        {% else %}
                        <table class="table table-responsive-sm">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="text-align: center;" scope="col">Piwkobiorca</th>
                                    <th style="text-align: center;" scope="col">Data</th>
                                    <th style="text-align: center;" style="width: 10em" scope="col">Akcje</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for beer in beers %}
                                <tr class="{% if beer.period > 7 %}table-danger{% endif %} {% if beer.period > 3 %}table-warning{% endif %}">
                                    <th style="text-align: center; vertical-align: middle;" scope="row"><b>{{ beer.loanee }}</b></th>
                                    <td style="text-align: center; vertical-align: middle;">{{ beer.date|date:"d.m.y H:i" }}</td>
                                    <td style="text-align: center;">
                                        {% if beer.is_given_back %}
                                            <button disabled class="btn btn-outline-dark">Oddane</button>
                                        {% else %}
                                    <button class="btn btn-outline-dark" onclick="returnBeer({{ beer.id | urlencode }})">Oddaj</button>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </ul>
                </div>
                <br />
            </div>
            <div class="row">
                <div class="col-12">
                    {% include "pagination.html" with page=beers %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function returnBeer(beerId){
        window.location.assign("{% url 'beers:loaner'%}?beer="+beerId);
    }
</script>

{% endblock %}