<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'blog:home' %}">Serwer Piwny DS Riviera</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'fifarank:menu' %}">Ranking</a>
            </li>

            {% if debug %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'beers:menu' %}">Piwka</a>
            </li>
            {% endif %}

            {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="/admin">Panel administracyjny</a>
            </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:logout' %}">Wyloguj się</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:login' %}">Zaloguj się</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>