{% extends "fifarank.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="container">
            <a href="{% url 'fifarank:user_rating_list' %}">Powrót</a>
            <br /><br />
            <h1>{{ rating.user.username }}</h1>
            <h5 style="color: gray"> Ranking: {{ rating.value }}</h5>
            <h5 style="color: gray"> Rekord: {{ user_record }} </h5>
            <h5 style="color: gray">Zagranych spotkań: {{ match_count }}</h5>
            <hr />
            <h3>Ostatnie spotkania:</h3>
            {% include "components/matchList.html" with matches=matches show_paginator=False show_game=True%}
        </div>
    </div>
</div>
{% endblock %}