{% extends "base.html" %}
{% block title %}Ranking{% endblock %}

{% block content %}
    <h1>Ranking użytkowników</h1>

    <ul class="list-group">
    {% for rating in ratings %}
    <li class="list-group-item">
        <a href="{% url 'fifarank:user_rating_detail' rating.id %}"><b style="font-size: 20px; margin-right: auto;">{{ rating.user.username }}</b></a>
        <span>{{ rating.value }}</span>
    </li>
    {% endfor %}
    </ul>
    <br/>
    {% include "pagination.html" with page=ratings %}
{% endblock %}