{% extends "fifarank.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Ranking użytkowników</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="list-group list-group-flush">{% if ratings|length == 0 %}
                        <div>
                            <p style="text-align: center; color: gray;">Brak dodanych użytkowników</p>
                        </div>
                        {% else %}
                        {% for rating in ratings %}
                        {% if rating.position == 1 %}
                        <li class="list-group-item" style="background-color: rgba(255,215,0,0.1); border: rgba(255,215,0,0.2) solid 1px;">
                        {% elif rating.position == 2 %}
                        <li class="list-group-item" style="background-color: rgba(196,202,206,0.1); border: rgba(196,202,206,0.2) solid 1px;">
                        {% elif rating.position == 3 %}
                        <li class="list-group-item" style="background-color: rgba(128,74,0,0.1); border: rgba(128,74,0,0.2) solid 1px;">
                        {% else %}
                        <li class="list-group-item">
                        {% endif %}
                            <b style="font-size: 24px; margin-right: auto; color: black">{{ rating.position }}.
                                <a href="{% url 'fifarank:user_rating_detail' rating.id %}" style="color: black">
                                    {{ rating.user.username }}
                                </a>
                            </b>
                            <span style="font-size: 16px">{{ rating.value }}</span>
                            
                        </li>
                        
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <br />
            </div>
        </div>
    </div>
    {% endblock %}