{% extends "blog.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="container">
            <a href="{% url 'blog:home' %}">Powrót</a>
            <br /><br />
            <div class="row">
                <div class="col">
                    <h1>{{ post.title }} </h1>
                </div>
            </div>
            <div class="row" style="margin-top: 2rem;">
                <div class="col">
                    <p style="font-size: larger;">
                        {{ post.content }}
                    </p>
                </div>
            </div>
            <div class="row" style="color: gray;">
                <div class="col-12" style="text-align:right">
                    Dodano {{ post.creation_date|date:"d.m.y H:i" }} przez {{ post.author }}
                </div>
            </div>
            <hr/>
            {% if comments|length == 0 %}
            <div style="padding: 2rem 1rem 2rem 1rem;">
                <p style="text-align: center; color: gray;">Brak komentarzy</p>
            </div>
            {% else %}
            <div class="row">
                <div class="col">
                    <div class="accordion" id="accordionExample" style="margin-top: 2rem;">
                        {% for comment in comments %}
                        <div class="card" style="padding: 1rem;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <p style="font-size: large;">{{ comment.content }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12" style="text-align:right; color: gray">
                                            Dodano {{ comment.creation_date|date:"d.m.y H:i" }} przez {{ comment.author }}
                                        </div>
                                    </div>
                                </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}