{% extends "fifarank.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="container">
            <a href="{% url 'fifarank:team_list' %}">Powrót</a>
            <br /><br />
            <h1>{{ team.name }} ({{ team.code }})</h1>
            <hr />
            <h3>Liga: {{ team.league }}</h3>
            <h3>Liczba gwiazdek: {{ team.rating }}</h3>
            <h3>Gra: {{ team.game }}</h3>
            <br />
            <h3>Ostatnie spotkania:</h3>
            <br />
            <div class="accordion" id="accordionExample">
                {% for match in matches %}
                <div class="card">
                    <div class="card-header" id="heading{{ match.id }}">
                        <h2 class="mb-0" style="text-align: center;">
                            {{ match.homeUser }} {{ match.resultHome }} - {{ match.resultAway }}
                            {{ match.awayUser }}
                        </h2>
                    </div>

                    <div id="{{ match.id }}" class="collapse show" aria-labelledby="heading{{ match.id }}"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6" style="text-align: right;">
                                        {{ match.homeTeam }} <br />
                                        {{ match.homeTeam.league }} <br />
                                        Liczba gwiazdek: {{ match.homeTeam.rating }}
                                    </div>
                                    <div class="col-6">
                                        {{ match.awayTeam }} <br />
                                        {{ match.awayTeam.league }} <br />
                                        Liczba gwiazdek: {{ match.awayTeam.rating }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}