{% extends "fifarank.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="container">
            <a href="{% url 'fifarank:team_list' %}">Powrót</a>
            <br /><br />
            <h1>{{ team.name }}</h1>
            <hr />
            <h3>Liga: {{ team.league }}</h3>
            <h3>Liczba gwiazdek: {{ team.rating }}</h3>
            <h3>Gra: {{ team.game }}</h3>
            <br />
            <h3>Ostatnie spotkania:</h3>
            <br />
            {% include "components/matchList.html" with matches=matches show_paginator=False show_game=False%}
        </div>
    </div>
</div>
{% endblock %}