{% extends "fifarank.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h1>Dostępne ligi</h1>
                </div>
                <div class="col-6" style="text-align: right; margin-top: auto;">
                    <h5 style="color: black;">Dodaj</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="list-group list-group-flush">
                        <hr />
                        {% for league in leagues %}
                        <div class="card">
                            <div class="card-header" id="heading{{ match.id }}">
                                <h2 class="mb-0">
                                    {{ league.name }}
                                </h2>
                            </div>

                            <div id="{{ match.id }}" class="collapse show" aria-labelledby="heading{{ match.id }}"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                Kraj pochodzenia: {{ league.country }} <br />
                                                Poziom rozgrywkowy: {{ league.level }} <br />
                                                Liczba drużyn: {{ league.teams_num }} <br />
                                                Gra: {{ league.game }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </ul>
                </div>
                <br />
            </div>
            <div class="row">
                <div class="col-12">
                    {% include "pagination.html" with page=teams %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}