{% extends "base.html" %}

{% block main %}
<div class="nav-scroller bg-white shadow-sm" style="margin-bottom: 1rem;">
  <nav class="nav nav-underline">
    <a class="nav-link" href="{% url 'fifarank:menu' %}">Spotkania</a>
    <a class="nav-link" href="{% url 'fifarank:user_rating_list' %}">Ranking</a>
    <a class="nav-link" href="{% url 'fifarank:league_list' %}">Ligi</a>
    <a class="nav-link" href="{% url 'fifarank:team_list' %}">Drużyny</a>
    <a class="nav-link" href="{% url 'fifarank:game_list' %}">Gry</a>
  </nav>
</div>

{% load static %}
{% block content %}{% endblock %}

<style>
  .select2-dropdown.select2-dropdown--below {
    width: 100% !important;
  }

  .select2-container--default .select2-selection--single {
    padding: .3em 1em .5em .4em;
    width: 100%;
    font-size: 1.2em;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .3em;
    height: 2.1em;
    line-height: 1;
    position: relative;
  }

  .select2-selection{
    width: 100%;
    font-size: 1.2em;
    line-height: 1;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .3em;
    position: relative;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    color: #fff;
    font-size: 1.3em;
    padding: .6em;
    height: 27px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
  }

  select {
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .3em;
    padding: .6em 1em .5em .8em;
    height: 2.5em;
  }

  input {
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .3em;
    padding: .6em 1em .5em .8em;
    height: 2.5em;
  }

  select[name="game"] {
    margin: auto;
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1;
    padding: .6em 1em .5em .8em;
    width: 100%;
    margin-left: auto;
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 2.5em;
    appearance: none;
    background-color: #fff;
    background-position: right .7em top 50%, 0 0;
  }

  select[name="game"]::-ms-expand {
    display: none;
  }

  select[name="game"]:hover {
    border-color: #888;
  }

  select[name="game"]:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
  }

  select[name="game"] option {
    font-weight: normal;
  }
</style>

{% endblock %}